<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" type="text/css" href="/css/buttons-si.css"/>
</head>
<body>
    <div align="center">
        <h1>OAuth2 로그인</h1>
        <button onclick="location.href='/oauth2/authorization/google'" class="btn-si btn-google">구글 로그인</button>
        <br/>
        <button onclick="location.href='/oauth2/authorization/facebook'" class="btn-si btn-facebook">페이스북 로그인</button>
        <br/>
        <button onclick="location.href='/oauth2/authorization/github'" class="btn-si btn-github">깃허브 로그인</button>
        <br/>
        <button onclick="location.href='/oauth2/authorization/kakao'"><img src="/img/kakao.png"></button>
        <br/>
        <button onclick="location.href='/oauth2/authorization/naver'"><img src="/img/naver.png"></button>
        <br/>
        <a href="/user">로그인한 사람만 볼 수 있는 곳</a>
    </div>
</body>
</html>